<form name="myForm">

    <div class="control-group row myprojects-div-rows" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
        <div class="col-md-2">Name</div>
        <div class="col-md-8">
            <input type="text" name="name" ng-model="project.Name" required class="form-control">
            <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
                Required {{myForm.name.$pristine}}
            </span>
        </div>
    </div>
 
    <div class="control-group row myprojects-div-rows" ng-class="{error: myForm.site.$invalid && !myForm.site.$pristine}">
        <div class="col-md-2">Website</div>
        <div class="col-md-8">
            <input type="url" name="site" ng-model="project.Site" required class="form-control">
            <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline">
                Required
            </span>
            <span ng-show="myForm.site.$error.url" class="help-inline">
                Not a URL
            </span>
        </div>
    </div>
 
    <div class="row myprojects-div-rows">
        <div class="col-md-2">Description</div>
        <div class="col-md-8">
            <textarea name="description" ng-model="project.Description" class="form-control myproject-edit-textarea"></textarea>
        </div>
    </div>

  <br>
  <a href="#/" class="btn btn-default">Cancel</a>
  <button ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>

</form>
