<div ng-controller="detailController">
    <form name="myForm">

        <div ng-repeat="item in crud" ng-show="item.included" class="row myprojects-div-rows" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
            <div class="col-md-2">{{item.key}}</div>

            <div class="col-md-8" ng-show="!item.type || item.type =='string'">
                <input type="text" name="name" ng-model="item.val" required class="form-control">
                <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
                    Required {{myForm.name.$pristine}}
                </span>
            </div>

            <div class="col-md-8" ng-show="item.type =='text'">
                <textarea name="description" ng-model="item.val" class="form-control myproject-edit-textarea"></textarea>
            </div>
        </div>

        <a href ng-click="goHome()" class="btn btn-default">Cancel</a>
        <button ng-click="save()" class="btn btn-primary">Save</button>

    </form>
</div>